#container #content{
    .banner{
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 70px;
        }

        main{
            display: flex;
            justify-content: space-between;

            .content{
                h1{
                    @extend .title;
                }

                p{
                    margin: 30px 0;
                    @extend .paragraph;
                }
            }

            .image{
                text-align: center;
            }
        }
    }
}