#container{
    footer{
        margin-top: 130px;

        .container{
            background-color: $Bright-Red;

            .content-footer{
                display: flex;
                align-items: center;

                h1{
                    color: $Vary-Light-Gray;
                }

                button{
                    color: $Bright-Red;
                    background: $Very-Pale-Red;
                    height: 43px;
                }
            }
        }

        .container-footer{
            background-color: $Very-Dark-Blue;

            .content-footer{
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .socials{
                    height: 200px;
                    display: flex;
                    flex-direction: column;

                    .icon-socials{
                        text-align: center;

                        span{
                            margin-right: 10px;
                            cursor: pointer;

                            i{
                                @extend .icon-socials;
                                transition: 0.3s;

                                &:hover{
                                    color: $Bright-Red; 
                                }
                            }
                        }
                    }
                }

                .contact{
                    display: flex;
                    justify-content: space-between;

                    .contact-content{
                        display: flex;
                        flex-direction: column;

                        a{
                            padding: 8px 0;
                            color: $Vary-Light-Gray;
                            transition: 0.3s;

                            &:hover{
                                color: $Bright-Red;
                            }
                        }
                    }
                }

                .wrapper{
                    display: flex;
                    flex-direction: column;
                    height: 200px;

                    form .block-input{
                        input[type="email"]{
                            height: 45px;
                            width: 200px;
                            padding-left: 15px;

                            outline: none;
                            border: none;
                            border-radius: 30px;
                        }

                        input[type="button"]{
                            height: 45px;
                            width: 60px;
                            margin-left: 5px;

                            border: none;
                            outline: none;
                            border-radius: 30px;

                            cursor: pointer;
                            font-weight: 500;
                            transition: 0.3s;

                            background-color: #f25f3a;
                            color: #fafafa;

                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }

                    .copyright p{
                        color: $Vary-Light-Gray;
                    }
                }
            }
        }
    }
}