@media (min-width: 320px){
    #container #content{
        padding: 30px 20px;

        .banner{
            header{
                nav.navbar-desktop{
                    display: none;
                }

                .menu{
                    display: block;
                }
            }
    
            main{
                flex-direction: column;

                .content{
                    width: 100%;
                    order: 2;
                    text-align: center;
                }

                .image{
                    width: 100%;
                    order: 1;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .different{
            flex-direction: column;

            main{
                width: initial;
                text-align: center;
                margin: 60px 0;
            }

            .differences{
                width: 100%;

                .topic{
                    .index{
                        background: #ccc;
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                       // text-align: center;

                        display: table;
                        width: 100%;

                        span{
                            height: 100%;
                            display: table-cell;
                            vertical-align: middle;

                            width: 73px;
                        }

                        h2{
                            font-size: clamp(0.95rem, 4vw, 1.625rem);
                            padding-left: 12px;

                            height: 100%;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }

                    .text{
                        width: initial;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 500px){
    #container #content{
        padding: 30px 40px;

        .banner{
            main{
                .content{
                    text-align: initial;
                }

                .image img{
                    width: 380px;
                }
            }
        }
    }
}

@media (min-width: 768px){
    #container #content .banner
    main{
        flex-direction: row;

        .content{
            order: 1;
        }

        .image img{
            width: 100%;
        }
    }
}

@media (min-width: 1024px){
    #container #content{
        .banner{
            header{
                nav.navbar-desktop{
                    display: flex;
                    width: 79%;
                }

                .menu{
                    display: none;
                }
            }
    
            main{
                .content{
                    width: 44%;
                }

                .image{
                    width: 56%;
                }
            }
        }

        .different main{
            margin-top: 0;
        }

        .different .differences{
            display: grid;
            gap: 30px;

            .topic{
                .index{
                    display: flex;
                    
                    span{
                        display: initial;
                        width: initial;
                        height: initial;
                    }

                    h2{
                        height: initial;
                        display: initial;

                        font-size: 1.5rem;
                    }
                }
            }

            .topic-1{
                grid-area: topic-1;
            }

            .topic-2{
                grid-area: topic-2;
                margin: 0;
            }

            .topic-3{
                grid-area: topic-3;
            }

            grid-template-areas:
                "topic-1 topic-2"
                "topic-3 topic-3";
        }

    }
}

@media (min-width: 1200px){
    #container #content{
        padding: 50px 100px;

        .banner{
            header{
                nav.navbar-desktop{
                    width: 70%;
                }
            }
    
            main{
                .content{
                    width: 30%;
                    margin: 0;
                }

                .image{
                    width: 753px;
                    
                    img{
                        width: 520px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1536px){
    #container #content .banner main .image img{
        width: initial;
    }
}