#container #content .banner header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

#container #content .banner header nav.navbar-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #content .banner header nav.navbar-desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #content .banner header nav.navbar-desktop ul li {
  list-style-type: none;
  padding: 0 15px;
}

#container #content .banner header nav.navbar-desktop ul li a {
  color: #242d52;
  font-weight: 500;
  font-size: 1.2rem;
}

#container #content .banner header nav.navbar-desktop ul li a:hover {
  color: #9095a7;
}

#container #content .banner header .menu {
  display: none;
}

#container #content .banner header .menu span i {
  font-size: 2rem;
  color: #242d52;
  cursor: pointer;
}

#container #content .banner main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #content .banner main .content p {
  margin: 30px 0;
}

#container #content .banner main .image {
  text-align: center;
}

#container #content .different {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}

#container #content .different main p {
  margin-top: 30px;
}

#container #content .different .differences .topic .index {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #content .different .differences .topic .index span {
  padding: 7px 27px;
  border-radius: 30px;
  font-weight: 500;
  background: #f25f3a;
  color: #fafafa;
}

#container #content .different .differences .topic .index h2 {
  color: #242d52;
}

#container #content .different .differences .topic .text p {
  margin-top: 15px;
}

#container #content .testimonials-container {
  text-align: center;
}

#container #content .testimonials-container .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px 0 80px 0;
}

#container #content .testimonials-container .testimonials .testimonials-person {
  background-color: #9095a710;
  border-radius: 8px;
}

#container #content .testimonials-container .testimonials .testimonials-person img {
  width: 100px;
  position: relative;
  bottom: 45px;
}

#container #content .testimonials-container .testimonials .testimonials-person .content {
  padding: 0 25px 15px 25px;
}

#container #content .testimonials-container .testimonials .testimonials-person .content h2 {
  font-size: 1.225rem;
  color: #242d52;
  position: relative;
  bottom: 27px;
}

#container #content .testimonials-container .testimonials .testimonials-person .content p {
  position: relative;
  bottom: 10px;
}

#container #content .testimonials-container .testimonials-desktop-area .testimonials-person:nth-child(2) {
  margin: 0 30px;
}

#container footer {
  margin-top: 130px;
}

#container footer .container {
  background-color: #f25f3a;
}

#container footer .container .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container footer .container .content-footer h1 {
  color: #fafafa;
}

#container footer .container .content-footer button {
  color: #f25f3a;
  background: #ffefeb;
  height: 43px;
}

#container footer .container-footer {
  background-color: #1d1e25;
}

#container footer .container-footer .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container footer .container-footer .content-footer .socials {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container footer .container-footer .content-footer .socials .icon-socials, #container footer .container-footer .content-footer .socials .icon-socials span i {
  text-align: center;
}

#container footer .container-footer .content-footer .socials .icon-socials span, #container footer .container-footer .content-footer .socials .icon-socials span i span {
  margin-right: 10px;
  cursor: pointer;
}

#container footer .container-footer .content-footer .socials .icon-socials span i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#container footer .container-footer .content-footer .socials .icon-socials span i:hover {
  color: #f25f3a;
}

#container footer .container-footer .content-footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container footer .container-footer .content-footer .contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container footer .container-footer .content-footer .contact .contact-content a {
  padding: 8px 0;
  color: #fafafa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#container footer .container-footer .content-footer .contact .contact-content a:hover {
  color: #f25f3a;
}

#container footer .container-footer .content-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

#container footer .container-footer .content-footer .wrapper form .block-input input[type="email"] {
  height: 45px;
  width: 200px;
  padding-left: 15px;
  outline: none;
  border: none;
  border-radius: 30px;
}

#container footer .container-footer .content-footer .wrapper form .block-input input[type="button"] {
  height: 45px;
  width: 60px;
  margin-left: 5px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f25f3a;
  color: #fafafa;
}

#container footer .container-footer .content-footer .wrapper form .block-input input[type="button"]:hover {
  opacity: 0.7;
}

#container footer .container-footer .content-footer .wrapper .copyright p {
  color: #fafafa;
}

@media (min-width: 320px) {
  #container #content {
    padding: 30px 20px;
  }
  #container #content .banner header nav.navbar-desktop {
    display: none;
  }
  #container #content .banner header .menu {
    display: block;
  }
  #container #content .banner main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #content .banner main .content {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  #container #content .banner main .image {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #container #content .banner main .image img {
    width: 100%;
  }
  #container #content .different {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #content .different main {
    width: initial;
    text-align: center;
    margin: 60px 0;
  }
  #container #content .different .differences {
    width: 100%;
  }
  #container #content .different .differences .topic .index {
    background: #ffefeb;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: table;
    width: 100%;
  }
  #container #content .different .differences .topic .index span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 73px;
  }
  #container #content .different .differences .topic .index h2 {
    font-size: clamp(0.95rem, 4vw, 1.625rem);
    padding-left: 12px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  #container #content .different .differences .topic .text {
    width: initial;
    padding: 0;
  }
  #container #content .different .differences .topic-2 {
    margin: 60px 0;
  }
  #container #content .testimonials-container {
    margin: 0;
  }
  #container #content .testimonials-container .testimonials-mobile {
    display: block;
    position: relative;
    height: 250px;
    margin-bottom: 30px;
  }
  #container #content .testimonials-container .testimonials-mobile .testimonials-person {
    position: absolute;
    opacity: 0;
  }
  #container #content .testimonials-container .testimonials-mobile .testimonials-person.selected {
    opacity: 1;
    -webkit-transition: ease-in 0.6s;
    transition: ease-in 0.6s;
  }
  #container #content .testimonials-container .testimonials-mobile-area .index {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container #content .testimonials-container .testimonials-mobile-area .index span {
    height: 10px;
    width: 10px;
    margin: 0 10px;
    border: 2px solid #f25f3a;
    border-radius: 50%;
  }
  #container #content .testimonials-container .testimonials-mobile-area .index span.active {
    background: #f25f3a;
    -webkit-transition: ease-in 0.6s;
    transition: ease-in 0.6s;
  }
  #container #content .testimonials-container .testimonials-desktop-area {
    display: none;
  }
  #container footer .container .content-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 300px;
    padding: 30px 20px;
  }
  #container footer .container .content-footer h1 {
    text-align: center;
    width: 100%;
  }
  #container footer .container-footer .content-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  #container footer .container-footer .content-footer .socials,
  #container footer .container-footer .content-footer .wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #container footer .container-footer .content-footer .contact {
    width: 70%;
  }
}

@media (min-width: 500px) {
  #container #content {
    padding: 30px 40px;
  }
  #container #content .banner main .content {
    text-align: initial;
  }
  #container #content .banner main .image img {
    width: 380px;
  }
  #container footer .container-footer .content-footer .contact {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #container #content .banner main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #container #content .banner main .content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #container #content .banner main .image img {
    width: 100%;
  }
  #container footer .container-footer .content-footer .contact {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  #container #content .banner header nav.navbar-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79%;
  }
  #container #content .banner header .menu {
    display: none;
  }
  #container #content .banner main .content {
    width: 44%;
  }
  #container #content .banner main .image {
    width: 56%;
  }
  #container #content .different main {
    margin-top: 0;
  }
  #container #content .different .differences {
    display: -ms-grid;
    display: grid;
    gap: 30px;
        grid-template-areas: "topic-1 topic-2" "topic-3 topic-3";
  }
  #container #content .different .differences .topic .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #container #content .different .differences .topic .index span {
    display: initial;
    width: initial;
    height: initial;
  }
  #container #content .different .differences .topic .index h2 {
    height: initial;
    display: initial;
    font-size: 1.5rem;
  }
  #container #content .different .differences .topic-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: topic-1;
  }
  #container #content .different .differences .topic-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: topic-2;
    margin: 0;
  }
  #container #content .different .differences .topic-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: topic-3;
  }
  #container #content .testimonials-container .testimonials-desktop-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #container #content .testimonials-container .testimonials-mobile-area {
    display: none;
  }
  #container footer .container .content-footer {
    height: initial;
    padding: 30px 115px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #container footer .container .content-footer h1 {
    width: 400px;
  }
  #container footer .container-footer .content-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #container footer .container-footer .content-footer .contact {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  #container #content {
    padding: 50px 100px;
  }
  #container #content .banner header nav.navbar-desktop {
    width: 70%;
  }
  #container #content .banner main .content {
    width: 30%;
    margin: 0;
  }
  #container #content .banner main .image {
    width: 753px;
  }
  #container #content .banner main .image img {
    width: 520px;
  }
  #container #content .different {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #container #content .different main {
    margin: 0 100px 0 0;
    text-align: start;
  }
  #container #content .different .differences {
    width: 753px;
    display: initial;
  }
  #container #content .different .differences .topic .index {
    background: none;
    border: none;
  }
  #container #content .different .differences .topic .index h2 {
    font-size: clamp(0.95rem, 4vw, 1.225rem);
    padding-left: 20px;
  }
  #container #content .different .differences .topic .text {
    width: 500px;
    padding-left: 91px;
  }
  #container #content .different .differences .topic-2 {
    margin: 30px 0;
  }
  #container footer .container .content-footer {
    padding: 30px 215px;
  }
  #container footer .container-footer .content-footer {
    padding: 30px 70px;
  }
  #container footer .container-footer .content-footer .socials,
  #container footer .container-footer .content-footer .wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #container footer .container-footer .content-footer .contact {
    width: 350px;
  }
}

@media (min-width: 1440px) {
  #container #content .different main {
    width: 30%;
    margin: 0;
  }
  #container #content .different .differences .topic .text {
    width: 600px;
  }
  #container #content .testimonials-container {
    margin-top: 130px;
  }
}

@media (min-width: 1536px) {
  #container #content .banner main .image img {
    width: initial;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

body {
  font-size: 16px;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}

button.get-started {
  padding: 10px 20px;
  color: #ffefeb;
  background: #f25f3a;
  font-weight: 700;
  font-size: 1rem;
  -webkit-box-shadow: 0px 10px 45px -15px #f25f3a;
          box-shadow: 0px 10px 45px -15px #f25f3a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button.get-started:hover {
  opacity: 0.7;
}

.title, #container #content .banner main .content h1, #container #content .different main h1, #container #content .testimonials-container h1 {
  color: #242d52;
  font-size: 2.2rem;
  line-height: 1.1;
}

.paragraph, #container #content .banner main .content p, #container #content .different main p, #container #content .different .differences .topic .text p, #container #content .testimonials-container .testimonials .testimonials-person .content p {
  color: #9095a7;
  line-height: 1.6;
}

.icon-socials, #container footer .container-footer .content-footer .socials .icon-socials span i {
  color: white;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */